.navbar {
	display: flex;

	.nav-left {
		flex: 1;
	}

	.logo {
		width: 150px;
		height: 90px;
		opacity: .8;
		background-color: transparent;
		cursor: pointer;
	}

	&:hover {
		.logo {
			opacity: 1;
		}
	}
	.nav-right {
		box-sizing: border-box;
		.navigate {
			text-decoration: none;
			background-color: transparent;
			border: 1px solid white;
			color: white;
			padding: .6rem 2rem;
			margin-left: 1rem;
			cursor: pointer;
			text-transform: uppercase;

			&:hover {
				background-color: white;
				color: black;
			}
		}
	}
}