

body {
	margin: 0;
	height: 100%;
	background-color: black;
	font-family: 'Pathway Gothic One', sans-serif;
}

.app {
	font-size: 14px;
	padding: 2rem;

	h1 {
		color: yellow;
		margin: 0.1rem 0;
		font-family: DistantGalaxy, serif;
		font-weight: normal;
		font-size: 2rem;
		
	}
}

.page {
	margin: 4rem 0;
}

@font-face {
	font-family: DistantGalaxy;
	src: local("DistantGalaxy"),
		url("./fonts/SfDistantGalaxy.ttf") format("truetype");
	font-display: swap;
}

